body {
    margin: 0;
    font-size: 8pt;
    overflow: hidden;
}
#DatasetTables {
    display: block;
    width: 40%;
    height: 70%;
    max-height: 70%;
    position: absolute;
}
#cob {
    border: 2px solid #000000;
    display: inline;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
#cob .graph {
    position: absolute;
    right: 0px;
    width: 70%;
    height: 100%;
}
#cob .graph .snapshot {
    width: 50%;
    height: 50%;
    z-index: -100;
}
#cob .graph .cy {
    width: 100%;
    height: 100%;
}
#cob .graph .graph_controls {
    position:absolute;
    list-style: none outside none;
    right: 0;
    top: 0;
}
#cob .menu {
    width: 30%;
    position: absolute;
    background: url('../images/tilate.png') repeat;
    height: 100%;
    overflow-x: hidden;
}
#cob .loci {
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 30%;
}

#GeneTable {
    background-color: red;
    display: inline;
    left:0;
    bottom: 0;
    height:30%;
    width:100%;
    position: absolute;
}

#cob .menu ul {
    display: table;
    list-style: outside none none;
    margin: 0 auto;
    max-height: 14pt;
    overflow: hidden;
    padding: 0;
}
#cob .menu ul li {
    color: white;
    display: inline;
    font-size: 10pt;
    height: 0.5em;
    margin: 0 0.15em;
    padding: 0 1.15em;
    width: 100px;
    cursor: pointer;
    background: #555555;
}
#cob .menu ul li.selected {
    background-color: black; 
}
#cob .menu div.tabs {
    background: none no-repeat scroll 0 0 transparent;
    position: relative;
}

#cob .menu div.tab {
    display: inline;
    float: left;
    margin-bottom: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    height: 100%;
}

div .tab .bar {
    color: #ffffff;
    left: 0;
    margin-bottom: 2px;
    overflow: hidden;
    padding: 12px;
    top: 0;
    width: 350px;
}
